:root {
    --color1: #94e8b4;
    --color2: #72bda3;
    --color3: #5e8c61;
    --color4: #4e6151;
    --color5: #59656F;
}

.grid {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-rows: repeat(auto-fill, minmax (200px, 1fr));
    grid-gap: 20px;
    align-items: flex-start;
}
.card {
    background-color: var(--color3);
    border-radius: 0.5rem;
    box-shadow: 0.8rem 0.8rem 0.8rem -0.03rem rgba(0, 0, 0, 10.5);
    height: fit-content;
    width: 500px;
    margin: 20px;
    padding: 2%;
    justify-self: center;
}

.image {
width: 100%;
max-height: 300px;
}

.image:hover {
    opacity: .6;
}

.card-body {
    text-align: center;
    line-height: 1;
}

.github-button {
    margin-top: 10px;
    position: relative;
    background-color: var(--color5);
    color: var(--color1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.5rem;
}

.github-button:hover {
    box-shadow: inset 0 0 16px 10px var(--color2)
}
