:root {
    --color1: #94e8b4;
    --color2: #72bda3;
    --color3: #5e8c61;
    --color4: #4e6151;
    --color5: #59656F;
}
h1 {
    text-align: center;
    font-size: 40px;
}
.proficiency-wrapper {
    display: flex;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    color: white;
    box-shadow: 0.8rem 0.8rem 0.8rem -0.03rem rgba(0, 0, 0, 10.5);
    margin: 30px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: var(--color3);
    line-height: 1.5;
    justify-content: space-around;
}

/* .frontend  {
    width: 50%;
} */

.resume {
    background-color: var(--color3);
    box-shadow: 0.8rem 0.8rem 0.8rem -0.03rem rgba(0, 0, 0, 10.5);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
}

.resume:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), inset 0 0 10px 5px var(--color2);
}

@media screen and (max-width: 900px) {
    .proficiency-wrapper {
        width: 50%;
        padding: 15px;
        justify-content: space-around;
    } 

}