:root {
  --color1: #94e8b4;
  --color2: #72bda3;
  --color3: #5e8c61;
  --color4: #4e6151;
  --color5: #3b322c;
}

body {
  background-color: var(--color1);
  font-family: 'Roboto Slab', serif;
}

ul {
  list-style-type: none;
}